.App {
  display: flex;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerInput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
